*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    height: 100vh;
}

body::-webkit-scrollbar {display: none;}

.hide{
    display: none;
}

.show{
    visibility: visible;
}

.ocult{
    visibility: hidden;
}

/* Inicio de estilos de iniciar sesión*/

.signin{
    height: 100vh;
    background-image: url(./img/background-socialnetwork.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    margin: auto;
}

.logo-social-network{
    width: 14em;
}

.text{
    color: white;
    font-size: 1.2em;
    width: 14em;
    text-align: center;
}

.text2{
    color: white;
    font-size: 1.5em;
    width: 14em;
    text-align: center;
}

.email-login, .password-login{
    width: 15em;
    height: 2em;
    background-color: rgba(0, 0, 0, 0);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 0.1em;
    border-left-style: none;
    font-family: 'Noto Serif', serif;
    font-size: 1.35em;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

.email-login:focus, .password-login:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0px 0px;
}

.email-login::placeholder, .password-login::placeholder{
    color: white;
}

.btn-initsession{
    position: relative;
    width: 13em;
    height: 2.5em;
    background: #FFFFFF;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6em;
    color: #9F00A3;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-initsession:hover{
    background-color: #F7D7FF;
}

.btn-google{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    width: 90%;
    height: 4em;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #9E4FA9;
    border-radius: 1em;
}

.btn-google:hover{
    background-color: rgb(128, 64, 136);
}

.logoGoogle{
    width: 2.2em;
    height: 2.2em;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1em;
    color: white;
}

.googleSignIn{
    background-image: url(./img/logo-google-white.png);
}

/* .facebookSignIn{
    background-image: url(./img/logo-facebook.png);
} */

/*  Mensaje de error al iniciar sesión  */

.balloon{
    position: absolute;
    width: 22em;
    background-color: #4E2954;
    color:white;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    text-align: center;
    top: 5em;
    left: -1.6em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 0.7em;
    z-index: 2;
}

.balloon:before {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin: -2em 0 0 7.4em;
    border-bottom: 20px solid #4E2954;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}

.msgAlertReg {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.msgAlertReg:hover .balloon {
    visibility: visible;
    /* margin-top: 2%;
    display: inline-block;
    background-color: rgb(105, 77, 109); */
}


/* Fin de estilos de iniciar sesión*/

/* Estilos de register */
.hide-show {
    display: none;
}

.signup {
    height: 100vh;
    background: linear-gradient(180deg, #E253C3 0%, #A254AD 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.balloon-2 {
    position: absolute;
    width: 18em;
    background-color: #4E2954;
    color:white;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    text-align: center;
    top: 5em;
    left: 50%;
    margin-left: -9em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    z-index: 2;
}

.balloon-2:before {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -2em;
    left: 42%;
    border-bottom: 20px solid #4E2954;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}

.msgAlertReg:hover .balloon-2 {
    visibility: visible;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    background-color: #FFF;
    border-radius: 10px;
    width: 24em;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2em;
    align-items: center;
}

.formRegister{
    display: flex;
    height: 17em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-register {
    width: 70%;
    height: 2em;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-color: #A354AD;
    border-bottom-width: 0.1em;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Noto Serif', serif;
    font-size: 1.35em;
    color: #A354AD;
}

.input-register::placeholder {
    color: #A354AD;
}

.input-register:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
}

.text-purple {
    font-family: 'Noto Sans', sans-serif;
    color: #A354AD;
    font-size: 2em;
    font-weight: bold;
}

.text-init-session {
    font-family: 'Noto Serif', serif;
    color: #FFF;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
}

.text-init-app {
    font-size: 1.5em;
    color: #A354AD;
}

.btn-new-account {
    width: 70%;
    height: 2.3em;
    cursor: pointer;
    background: #FFC6B9;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    color: #170842;
    font-size: 1.5em;
    font-weight: 700;
}

.msg-alert{
    color: white;
    margin-bottom: 1em;
}

.notification {
    width: 250px;
    position: absolute;
    text-align: center;
    z-index: 1; 
    top: 10%;
    left: 50%;
    margin-left: -125px;
    padding: 1%; 
    background: #FFC6B9;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    color: #170842;
}

.btn-google-size{
    width: 80%;
    background-color: #BC54B6;
    box-sizing: border-box;
}

.btn-google-size:hover{
    background-color: #9D4DA3;
}

.googleRegister{
    background-image: url(./img/logo-google-white.png);
}

/* .facebookRegister{
    background-image: url(./img/logo-facebook-purple.png);
} */

/* Estilos del home y profile */

.header-home{
    width: 100%;
    height: 4em;
    background: linear-gradient(180deg, #E153C3 -22.34%, #A254AD 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;
    position: relative;
}

.nav-home{
    position: absolute;
    top: 4em;
    left: 0;
    z-index: 4;
}

.menu-home{
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 16em;
    height: 7em;
}

.menu-home li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    cursor: pointer;
    align-content: center;
    padding: 0.5em 2em;
    box-sizing: border-box;
    background-color: #BE58C0;
}

.menu-home li:hover{
    background-color: #A94EAB;
}

.btnGoProfile{
    width: 100%;
    height: 50%;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 0.1em;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
}

.proPicSmall{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.ico-home{
    width: 2em;
    height: 2em;
}

.btnGoOut{
    width: 100%;
    height: 50%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
}

.icoSignOut{
    width: 1.8em;
    height: 1.8em;  
}

.menuMobile{
    width: 2em;
    height: 2.5em;
    background-image: url(./img/menu-mobile.png);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
}

#menu-mobile:checked ~ .menuMobile{
    background-color: rgba(0, 0, 0, 0);
}

#menu-mobile2:checked ~ .menuMobile2{
    background-color: rgba(0, 0, 0, 0);
}

/* Logo en header, no es botón */

header img{
    height: 50%;
}

.btn-signup{
    width: 12em;
    height: 2.6em;
    background: #FFC6B9;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
}

.btn-signup a{
    font-size: 1.2em;
    text-decoration: none;
    color: #170842;
    font-weight: 700;
}

.profile-section{
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.coverImage{
    width: 100%;
    height: 8em;
    background-image: url(./img/cover-profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
    padding: 3em;
}

.profile-photo-name{
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.profile-margin {
    width: 74%;
    margin: 1em 13% 0 13%;
}

.location-info {
    display: flex;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    color: #454545;
    align-items: center;
}

.profile-btn-editions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.profile-photo-name input {
    font-size: 1.5em;
    color: #454545;
    font-family: 'Noto Sans', sans-serif;
}

.profilePicture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1em;
}

.user-name {
    font-size: 1.8em;
    color: #454545;
    font-family: 'Noto Sans', sans-serif;
}

.input-style {
    border: 1px solid gray;
    padding: 0.15em;
    box-sizing: border-box;
}

.btn-profile {
    height: 2em;
    width: 48%;
    border-radius: 3px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
}

.btn-profile:first-child {
    background-color: #DADADA;
    border: 1px solid #DADADA;
    color: #454545;
}

.btn-profile:last-child {
    background-color: #FFC6B9;
    border: 1px solid #FFC6B9;
    color: #170842;
}

.btn-profile:last-child:disabled {
    background-color: #DADADA;
    border: 1px solid #DADADA;
    color: #454545;
}

.btn-profile:first-child:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.btn-profile:last-child:hover:enabled {
    background-color: rgb(248, 174, 158);
}

.about-me{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    color: #454545;
    margin-bottom: 1em;
}

.profile-text{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    color: #454545;
    margin-bottom: 1em;
    word-wrap: break-word;
}

.dropDown {
    position: absolute;
    right: 5px;
    top: 30px;
    width: 80px;
    height: 25px;
    background-color: #DADADA;
    z-index: 10;
    text-align: center;
    font-family: "Noto sans", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 25px;
    color: gray;
    cursor: pointer;
}

.dropDown:before {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin: -10px 0 0 29px;
    border-bottom: 10px solid #DADADA;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

/* .btn-save {
    align-self: flex-end;
    margin: 0 0.5em 0 0;
    padding: 0.3em;
} */

.edit-icon {
    width: 4em;
    height: 1.5em;
    cursor: pointer;
    /* align-self: flex-end; */
    position: absolute;
    top: 8px;
    right: 4px;
}

/* .btn-save {
    align-self: flex-end;
    margin: 0 0.5em 0 0;
    padding: 0.3em;
} */

/* TIMELINE DE POSTS */

.timeline{
    width: 100%;
    padding: 3em;
    box-sizing: border-box;
}

.container-create-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like-post{
    display: flex;
    height: 15em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-photo-time{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like-picture{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.post-time{
    font-size: 1em;
    width: 60px;
    font-family: "Noto sans", sans-serif;
    text-align: center;
}

.like-counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.heart {
    background-color: #C4C4C4;
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    margin-bottom: 0.5em;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #C4C4C4;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

.heart-2 {
    background-color: #BE58C0;
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    margin-bottom: 0.5em;
}

.heart-2:before,
.heart-2:after {
  content: "";
  background-color: #BE58C0;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart-2:before {
    top: -10px;
    left: 0;
}

.heart-2:after {
    left: 10px;
    top: 0;
}
.counter-text{
    font-size: 1.2em;
    font-family: "Noto sans", sans-serif;
}

.post{
    width: 100%;
    border: 0.42em solid #BE58C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: 3em;
    border-radius: 1em;
    position: relative;
}

.post.left, .each-post.left{
    margin-left: 3.6em;
}

.post.left:before{
    top: 10px;
    bottom: auto;
    left: -31px;
    border-width: 15px 30px 15px 0;
    border-color: transparent #BE58C0;
}

.post:before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #BE58C0 transparent;
    display: block;
    width: 0;
}

.each-post.left:before{
    top: 10px;
    bottom: auto;
    left: -31px;
    border-width: 15px 30px 15px 0;
    border-color: transparent #E599FF;
}

.each-post:before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #E599FF transparent;
    display: block;
    width: 0;
}

.post.left:after, .each-post.left:after{
    top: 16px;
    bottom: auto;
    left: -21px;
    border-width: 9px 21px 9px 0;
    border-color: transparent #fff;
}

.post:after, .each-post:after{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
}

.new-post{
    width: 100%;
    height: 10em;
    box-sizing: border-box;
    border: 0.1em solid #C4C4C4;
    resize: none;
    position: relative;
    margin-bottom: 1em;
    font-family: "Noto sans", sans-serif;
    padding: 0.4em;
    font-size: 1.2em;
}

.buttons-post{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-post{
    width: 8em;
    height: 2em;
    color: #fff;
    background-color: #BE58C0;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 0.3em;
    cursor: pointer;
}

.btn-post:hover{
    background-color: #D965DB;
}

.options{
    display: flex;
    flex-direction: row;
    width: 7em;
    justify-content: space-between;
    align-items: center;
}

.privacy {
    font-family: 'FontAwesome', 'Noto Sans', sans-serif;
    color: #757575;
    border: none;
    border-radius: 0.2em;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 1.4em;
    padding-left: 0.2em;
    box-sizing: border-box;
}

.container-privacy{
    display: flex;
    align-items: center;
    position: relative;
}

.container-privacy i{
	position: absolute;
	width: 0;
    height: 0;
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-top: 1em solid #C4C4C4;
    left: 3em;
}

.privacy option{
    font-size: 0.9em;
    border: none;
}

.text-1{
    font-size: 2.6em;
    height: 100%;
}

.text-2{
    font-size: 1.4em;
}

.all-posts{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.each-post{
    width: 100%;
    border: 0.42em solid #E599FF;
    box-sizing: border-box;
    position: relative;
    padding: 1em 1em 1em 1.2em;
    border-radius: 1em;
}

.container-post{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
}

.container-name-privacity{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    align-items: center;
}

.container-name-privacity p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1em;
    color: #454545;
    margin-right: 1em;
}

.text-post{
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    color: #000;
    word-wrap: break-word;
    margin-bottom: 1em;
}

.container-menu-post{
    position: absolute;
    display: flex;
    top: 1em;
    right: 1em;
}

.label-menu-post{
    width: 3em;
    height: 1em;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(./img/three-points-ico.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
}

.menu-post{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    width: 6em;
    height: 5em;
    background-color: #DFD3C7;
}

.nav-post{
    position: absolute;
    top: 1em;
    right: 0;
    z-index: 5;
}

.input-post{
    width: 100%;
    height: 6em;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    box-sizing: border-box;
    resize: none;
}

.btn-post-edit{
    height: 50%;
    padding: 0.5em;
    box-sizing: border-box;
    border-bottom-style: solid;
    border-bottom-color: #BE58C0;
    border-bottom-width: 0.1em;
    cursor: pointer;
}

.btn-post-delete{
    height: 50%;
    padding: 0.5em;
    box-sizing: border-box;
    cursor: pointer;
}

/* Estilos de notfound */

.nf-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    background-color: #FFC6B9;
    height: 100vh;
}

.nf-image {
    width: 80%;
    margin-bottom: 1em;
}

.nf-number {
    font-family: 'Noto Serif', serif;
    color: #9F00A3;
    font-weight: 1000;
    font-size: 7em;
}

.nf-text {
    font-family: 'Noto Serif', serif;
    color: #9F00A3;
    font-size: 2em;
}

.validity:invalid {
    border-bottom-color: red;
}

.input-register:invalid {
    border-bottom-color: #ff0000;
}

.btn-locked {
    background: rgb(212, 186, 181);
    color: #4c4858;
    cursor: none;
}

.logoRedes{
    width: 50px;
    height: 50px;
}

.imgPhotoURL{
    width: 100px;
    height: 100px;
}

.post-new-image{
    width: 10em;
}

.post-upload-image{
    width: 60%;
}

.upload{
    display: none;
}

.point-photo{
    width: 2.5em;
    cursor: pointer;
}

.cancel-image{
    width: 3em;
    height: 1em;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(./img/cancel-image1.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    /* outline: none; */
    cursor: pointer;
}

.photo-profile{
    width: 2em;
    height: 2em;
    /* background-color: rgba(0, 0, 0, 0);
    
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    outline: none; */
    cursor: pointer;
}


@media screen and (min-width: 750px){

    .containerHome{
        display: grid;
        height: 100%;
        margin: 0 auto;
        grid-template-columns: 40% 6% 54%;
        padding-top: 3em;
        box-sizing: border-box;
    }

    .timeline{
        padding: 0;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .profile-section{
        padding: 0;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .menuMobile{
        display: none;
    }

    .nav-home{
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
    }

    .menu-home{
        display: flex;
        width: 20em;
        height: 100%;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .menu-home li{
        background-color: rgba(0, 0, 0, 0);
        justify-content: space-evenly;
        padding: 0;
    }

    .menu-home li:hover{
        background-color: rgba(0, 0, 0, 0);
    }

    .btnGoProfile{
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: space-evenly;
        border-bottom-style: none;
    }

    .btnGoOut{
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: space-evenly;
    }

    .coverImage{
        height: 12em;
    }
}

@media screen and (min-width: 1024px){

    .container{
        display: grid;
    }

    .containerHome{
        max-width: 1024px;
    }

    .timeline{
        padding: 0;
    }

    .profile-section{
        padding: 0;
    }

    .signin{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .signin-container{
        grid-column-start: 2;
    }

    .hide-show {
        display: block;
    }

    .register {
        background-color: #FFF;
        border-radius: 20px;
        width: 27em;
    }

    .logo-register {
        width: 250px;
    }

    .notification {
        width: 400px;
        margin-left: -200px;
    }

    .nf-image {
        width: 30em;
    }

    .btn-google-size{
        width: 70%;
    }
}
