*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    height: 100vh;
}

.hide{
    display: none;
}

.show{
    visibility: visible;
}

.ocult{
    visibility: hidden;
}

/* Inicio de estilos de iniciar sesi贸n*/

.signin{
    height: 100vh;
    background-image: url(./img/background-socialnetwork.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    margin: auto;
}

.logo-social-network{
    width: 14em;
}

.text{
    color: white;
    font-size: 1.2em;
    width: 14em;
    text-align: center;
}

.text2{
    color: white;
    font-size: 1.5em;
    width: 14em;
    text-align: center;
}

.email-login, .password-login{
    width: 15em;
    height: 2em;
    background-color: rgba(0, 0, 0, 0);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 0.1em;
    border-left-style: none;
    font-family: 'Noto Serif', serif;
    font-size: 1.35em;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

.email-login:focus, .password-login:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0px 0px;
}

.email-login::placeholder, .password-login::placeholder{
    color: white;
}

.btn-initsession{
    position: relative;
    width: 13em;
    height: 2.5em;
    background: #FFFFFF;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6em;
    color: #9F00A3;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.btn-initsession:hover{
    background-color: #F7D7FF;
}

.btn-google{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    width: 90%;
    height: 4em;
    padding: 0.5em;
    box-sizing: border-box;
    background-color: #9E4FA9;
    border-radius: 1em;
}

.btn-google:hover{
    background-color: rgb(128, 64, 136);
}

.logoGoogle{
    width: 2.2em;
    height: 2.2em;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1em;
    color: white;
}

.googleSignIn{
    background-image: url(./img/logo-google-white.png);
}

/* .facebookSignIn{
    background-image: url(./img/logo-facebook.png);
} */

/*  Mensaje de error al iniciar sesi贸n  */

.balloon{
    position: absolute;
    width: 22em;
    background-color: #4E2954;
    color:white;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    text-align: center;
    top: 5em;
    left: -1.6em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 0.7em;
    z-index: 2;
}

.balloon:before {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin: -2em 0 0 7.4em;
    border-bottom: 20px solid #4E2954;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}

.msgAlertReg {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.msgAlertReg:hover .balloon {
    visibility: visible;
    /* margin-top: 2%;
    display: inline-block;
    background-color: rgb(105, 77, 109); */
}


/* Fin de estilos de iniciar sesi贸n*/

/* Estilos de register */
.hide-show {
    display: none;
}

.signup {
    height: 100vh;
    background: linear-gradient(180deg, #E253C3 0%, #A254AD 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.balloon-2 {
    position: absolute;
    width: 18em;
    background-color: #4E2954;
    color:white;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    text-align: center;
    top: 5em;
    left: 50%;
    margin-left: -9em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    z-index: 2;
}

.balloon-2:before {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -2em;
    left: 42%;
    border-bottom: 20px solid #4E2954;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}

.msgAlertReg:hover .balloon-2 {
    visibility: visible;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    background-color: #FFF;
    border-radius: 10px;
    width: 24em;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2em;
    align-items: center;
}

.formRegister{
    display: flex;
    height: 17em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-register {
    width: 70%;
    height: 2em;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-color: #A354AD;
    border-bottom-width: 0.1em;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Noto Serif', serif;
    font-size: 1.35em;
    color: #A354AD;
}

.input-register::placeholder {
    color: #A354AD;
}

.input-register:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
}

.text-purple {
    font-family: 'Noto Sans', sans-serif;
    color: #A354AD;
    font-size: 2em;
    font-weight: bold;
}

.text-init-session {
    font-family: 'Noto Serif', serif;
    color: #FFF;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
}

.text-init-app {
    font-size: 1.5em;
    color: #A354AD;
}

.btn-new-account {
    width: 70%;
    height: 2.3em;
    cursor: pointer;
    background: #FFC6B9;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    color: #170842;
    font-size: 1.5em;
    font-weight: 700;
}

.msg-alert{
    color: white;
    margin-bottom: 1em;
}

.notification {
    width: 250px;
    position: absolute;
    text-align: center;
    z-index: 1; 
    top: 10%;
    left: 50%;
    margin-left: -125px;
    padding: 1%; 
    background: #FFC6B9;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    color: #170842;
}

.btn-google-size{
    width: 80%;
    background-color: #BC54B6;
    box-sizing: border-box;
}

.btn-google-size:hover{
    background-color: #9D4DA3;
}

.googleRegister{
    background-image: url(./img/logo-google-white.png);
}

/* .facebookRegister{
    background-image: url(./img/logo-facebook-purple.png);
} */

/* Estilos del home y profile */

.header-home{
    width: 100vw;
    height: 4em;
    background: linear-gradient(180deg, #E153C3 -22.34%, #A254AD 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    box-sizing: border-box;
    position: relative;
}

.nav-home{
    position: absolute;
    top: 4em;
    left: 0;
    z-index: 4;
}

.menu-home{
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 14em;
    height: 7em;
}

.menu-home li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    cursor: pointer;
    align-content: center;
    padding: 0.5em 2em;
    box-sizing: border-box;
    background-color: #BE58C0;
}

.menu-home li:hover{
    background-color: #A94EAB;
}

.btnGoProfile{
    width: 100%;
    /* */
    height: 50%;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 0.1em;
}

.proPicSmall{
    width: 2em;
    height: 2em;
}

.btnGoOut{
    width: 100%;
    /* */
    height: 50%;
}

.icoSignOut{
    width: 1.8em;
    height: 1.8em;  
}

.menuMobile{
    width: 2em;
    height: 2.5em;
    background-image: url(./img/menu-mobile.png);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    cursor: pointer;
}

#menu-mobile:checked ~ .menuMobile{
    background-color: rgba(0, 0, 0, 0);
}

#menu-mobile2:checked ~ .menuMobile2{
    background-color: rgba(0, 0, 0, 0);
}

/* Logo en header, no es bot贸n */

header img{
    height: 50%;
}

.btn-signup{
    width: 12em;
    height: 2.6em;
    background: #FFC6B9;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
}

.btn-signup a{
    font-size: 1.2em;
    text-decoration: none;
    color: #170842;
    font-weight: 700;
}

.profileSection{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: #DADADA;
    border-bottom-width: 0.1em;
    position: relative;
}

.coverImage{
    width: 100%;
    height: 12em;
    background-image: url(./img/cover-profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}

.profile{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 16em;
    box-sizing: border-box;
    justify-content: space-evenly;
    z-index: 3;
    position: absolute;
    top: 7em;
}

.profileDiv{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
}

.profilePicture{
    width: 7em;
    height: 7em;
    background-image: url(./img/profile-ico.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 1em;
}

.userProfile{
    font-size: 22px;
    color: #454545;
    font-family: 'Noto Sans', sans-serif;
}

.input-style {
    max-width: 10em;
    border: 1px solid gray;
    box-sizing: border-box;
}

.btn-save {
    height: 2em;
    margin-left: 5em;
}

section h3{
    font-family: 'Noto Sans', sans-serif;
}

section .description{
    font-family: 'Noto Sans', sans-serif;
}

.divWhite{
    width: 100%;
    display: flex;
    height: 13em;
    background-color: white;
    justify-content: right;
}

.edit-icon {
    width: 4em;
    height: 1.5em;
    cursor: pointer;
}

.timeline{
    width: 100%;
    padding: 2em;
    box-sizing: border-box;
}

.newPost{
    width: 100%;
    height: 15em;
    box-sizing: border-box;
    border: 0.2em solid #BE58C0;
}


/* Estilos de notfound */

.nf-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    background-color: #FFC6B9;
    height: 100vh;
}

.nf-image {
    width: 80%;
    margin-bottom: 1em;
}

.nf-number {
    font-family: 'Noto Serif', serif;
    color: #9F00A3;
    font-weight: 1000;
    font-size: 7em;
}

.nf-text {
    font-family: 'Noto Serif', serif;
    color: #9F00A3;
    font-size: 2em;
}

.inputInvalid {
    border-bottom-color: red;
}

.btn-locked {
    background: rgb(212, 186, 181);
    color: #4c4858;
    cursor: none;
}

@media screen and (min-width: 750px){

    .containerHome{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menuMobile{
        display: none;
    }

    .nav-home{
        display: flex;
        align-items: center;
        position: relative;
        top: 0;
    }

    .menu-home{
        display: flex;
        width: 16em;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .menu-home li{
        background-color: rgba(0, 0, 0, 0);
        justify-content: space-evenly;
        padding: 0;
    }

    .menu-home li:hover{
        background-color: rgba(0, 0, 0, 0);
    }

    .btnGoProfile{
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: space-evenly;
        border-bottom-style: none;
    }

    .btnGoOut{
        display: flex;
        align-items: center;
        width: 60%;
        justify-content: space-evenly;
    }

    .coverImage{
        height: 10em;
    }

    .profile{
        top: 6em;
    }
    

    /* .profileSection{
        grid-column-start: 1;
    }

    .timeline{
        grid-column-start: 3;
    } */
}

@media screen and (min-width: 1024px){

    .container{
        display: grid;
    }

    .signin{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .signin-container{
        grid-column-start: 2;
    }

    .hide-show {
        display: block;
    }

    .register {
        background-color: #FFF;
        border-radius: 20px;
        width: 27em;
    }

    .logo-register {
        width: 250px;
    }

    .notification {
        width: 400px;
        margin-left: -200px;
    }

    .nf-image {
        width: 30em;
    }

    .btn-google-size{
        width: 70%;
    }
}

.input-register:invalid {
    border-bottom-color: #ff0000;
}

.btn-locked {
 background: rgb(212, 186, 181);
 color: #4c4858;
 cursor: none;
}

.logoRedes{
 width: 50px;
 height: 50px;
}

.imgPhotoURL{
 width: 100px;
 height: 100px;
}