*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    height: 100vh;
}

.hide{
    display: none;
}

.signin{
    height: 100vh;
    background-image: url(./img/background-socialnetwork.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5em 3em 5em 3em;
    box-sizing: border-box;
}

.logo-social-network{
    width: 13em;
    margin-bottom: 3em;
}

.text{
    color: white;
    font-size: 1.2em;
    width: 14em;
    text-align: center;
    margin-bottom: 1em;
}

.text2{
    color: white;
    font-size: 1.5em;
    width: 14em;
    text-align: center;
    margin-bottom: 0.5em;
}

.email-login, .password-login{
    width: 15em;
    height: 2em;
    background-color: rgba(0, 0, 0, 0);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 0.1em;
    border-left-style: none;
    font-family: Noto Serif;
    font-size: 1.35em;
    margin-bottom: 1.2em;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

.email-login:focus, .password-login:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0px 0px;
}

.email-login::placeholder, .password-login::placeholder{
    color: white;
}

.btn-initsession{
    width: 18em;
    height: 3em;
    background: #FFFFFF;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 2em;
}

.btn-initsession a{
    font-size: 1.6em;
    text-decoration: none;
    color: #9F00A3;
    font-weight: 700;
}

.btn-signup{
    width: 12em;
    height: 2.6em;
    background: #FFC6B9;
    border-radius: 10px;
    border-style: none;
    font-family: Noto Sans;
    margin-bottom: 2em; 
}

.btn-signup a{
    font-size: 1.2em;
    text-decoration: none;
    color: #170842;
    font-weight: 700;
}

/* Estilos de register */

.hide-show {
    display: none;
}

.signup {
    height: 100vh;
    background: linear-gradient(180deg, #E253C3 0%, #A254AD 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    background-color: #FFF;
    border-radius: 10px;
    width: 23em;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.input-register {
    width: 70%;
    height: 2em;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-color: #A354AD;
    border-bottom-width: 0.1em;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Noto Serif;
    font-size: 1.35em;
    color: #A354AD;
}

.input-register::placeholder {
    color: #A354AD;
}

.input-register:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
}

.text-purple {
    font-family: 'Noto Sans', sans-serif;
    color: #A354AD;
    font-size: 2em;
    font-weight: bold;
}

.text-init-session {
    font-family: Noto serif;
    color: #FFF;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
}

.text-init-app {
    font-size: 1.5em;
    color: #A354AD;
}

.btn-new-account {
    width: 70%;
    height: 2.3em;
    cursor: pointer;
    background: #FFC6B9;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    color: #170842;
    font-size: 1.5em;
    font-weight: 700;
}

.msg-alert{
    color: white;
    margin-bottom: 1em;
}

.notification {
    width: 250px;
    position: absolute;
    text-align: center;
    z-index: 1; 
    top: 10%;
    left: 50%;
    margin-left: -125px;
    padding: 1%; 
    background: #FFC6B9;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    color: #170842;
}

@media screen and (min-width: 1024px){
    .signin{
        align-content: flex-end;
        padding-right: 20em;
    }

    .hide-show {
        display: block;
    }

    .register {
        background-color: #FFF;
        border-radius: 20px;
        width: 27em;
    }

    .notification {
        width: 400px;
        margin-left: -200px;
    }
}

/* Para la vista desktop
body{
    background-position: top left;
}
*/

/*
.tooltip{
    position: relative;
    margin-top: 2%;
    display: inline-block;
}

.tooltip > span{
    color:#575959;
    border-bottom: 1px dotted #575959;
}

.tooltip .tooltipText{
    visibility: hidden;
    position: absolute;
    display: inline-block;
    width: 22vw;
    left: 90px;
    background-color: #FFFFFF;
    opacity: 95%;
    border-radius: 3px;
    text-align: justify;
    padding: 1em;
}

.tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 4%;
    left: 0%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #A354AD transparent transparent;
  }

.tooltipText p{
    color: #A354AD;
    font-size: 0.8em;
}

.tooltip:hover .tooltipText{
    visibility: visible
}
*/

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-family: Raleway;
    position: absolute;
    padding: 3px 20px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}

 .msgInvalid {
    color: #ff0000;
    } 

 .invalid {
    border-bottom-color: #ff0000;
    }
    