*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    height: 100vh;
}

.hide{
    display: none;
}

.show{
    visibility: visible;
}

.ocult{
    visibility: hidden;
}

.signin{
    height: 100vh;
    background-image: url(./img/background-socialnetwork.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 5em 3em 5em 3em;
    box-sizing: border-box;
}

.logo-social-network{
    width: 13em;
    margin-bottom: 3em;
}

.text{
    color: white;
    font-size: 1.2em;
    width: 14em;
    text-align: center;
    margin-bottom: 1em;
}

.text2{
    color: white;
    font-size: 1.5em;
    width: 14em;
    text-align: center;
    margin-bottom: 0.5em;
}

.email-login, .password-login{
    width: 15em;
    height: 2em;
    background-color: rgba(0, 0, 0, 0);
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 0.1em;
    border-left-style: none;
    font-family: 'Noto Serif', serif;
    font-size: 1.35em;
    margin-bottom: 1.2em;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
}

.email-login:focus, .password-login:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0px 0px;
}

.email-login::placeholder, .password-login::placeholder{
    color: white;
}

.btn-initsession{
    position: relative;
    width: 13em;
    height: 2.5em;
    background: #FFFFFF;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 2em;
    font-size: 1.6em;
    color: #9F00A3;
    font-weight: 700;
    cursor: pointer;
}

.btn-initsession:hover{
    background-color: #F7D7FF;
}

.btn-signup{
    width: 12em;
    height: 2.6em;
    background: #FFC6B9;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 2em;
}

.btn-signup a{
    font-size: 1.2em;
    text-decoration: none;
    color: #170842;
    font-weight: 700;
}

/*  Mensaje de error al iniciar sesión  */

.balloon{
    position: absolute;
    width: 22em;
    background-color: #4E2954;
    color:white;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.5em;
    text-align: center;
    top: 5em;
    left: -1.6em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: 0.7em;
    z-index: 2;
}

.balloon:before {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    margin: -2em 0 0 7.4em;
    border-bottom: 20px solid #4E2954;
    border-right: 18px solid transparent;
    border-left: 18px solid transparent;
}

/* Estilos de register */

.hide-show {
    display: none;
}

.signup {
    height: 100vh;
    background: linear-gradient(180deg, #E253C3 0%, #A254AD 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    background-color: #FFF;
    border-radius: 10px;
    width: 23em;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.input-register {
    width: 70%;
    height: 2em;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: solid;
    border-bottom-color: #A354AD;
    border-bottom-width: 0.1em;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Noto Serif', serif;
    font-size: 1.35em;
    color: #A354AD;
}

.input-register::placeholder {
    color: #A354AD;
}

.input-register:focus {
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
}

.text-purple {
    font-family: 'Noto Sans', sans-serif;
    color: #A354AD;
    font-size: 2em;
    font-weight: bold;
}

.text-init-session {
    font-family: 'Noto Serif', serif;
    color: #FFF;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: bold;
}

.text-init-app {
    font-size: 1.5em;
    color: #A354AD;
}

.btn-new-account {
    width: 70%;
    height: 2.3em;
    cursor: pointer;
    background: #FFC6B9;
    border-radius: 10px;
    border-style: none;
    font-family: 'Noto Sans', sans-serif;
    color: #170842;
    font-size: 1.5em;
    font-weight: 700;
}

.msg-alert{
    color: white;
    margin-bottom: 1em;
}

.notification {
    width: 250px;
    position: absolute;
    text-align: center;
    z-index: 1; 
    top: 10%;
    left: 50%;
    margin-left: -125px;
    padding: 1%; 
    background: #FFC6B9;
    border-radius: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3em;
    color: #170842;
}

/* Estilos de notfound */

.nf-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    background-color: #FFC6B9;
    height: 100vh;
}

.nf-image {
    width: 80%;
    margin-bottom: 1em;
}

.nf-number {
    font-family: 'Noto Serif', serif;
    color: #9F00A3;
    font-weight: 1000;
    font-size: 7em;
}

.nf-text {
    font-family: 'Noto Serif', serif;
    color: #9F00A3;
    font-size: 2em;
}

@media screen and (min-width: 1024px){
    .signin{
        align-content: flex-end;
        padding-right: 20em;
    }

    .hide-show {
        display: block;
    }

    .register {
        background-color: #FFF;
        border-radius: 20px;
        width: 27em;
    }

    .notification {
        width: 400px;
        margin-left: -200px;
    }

    .nf-image {
        width: 30em;
        margin-bottom: 1em;
    }
}
